.pdfContainer {
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
	.downloadbtn {
		padding: 1rem 2.2rem;
		// width: 20%;
		display: block;
		margin: 1rem;
		margin-left: auto;
		background-color: #029e9d;
		border-radius: 5px;
		color: #f0f0f0;
		font-size: 1.2rem;
		&:hover {
			background-color: #029e9eb8;
		}
	}

	.pdf {
		background-color: white;
		position: relative;
		margin: 3rem auto;
		width: 210mm; /* A4 width */
		height: 297mm; /* A4 height */
		padding: 5mm 10mm;
		> .header {
			height: 20mm;
			width: 100%;
			// background-color: #029e9d;
		}
		> .footer {
			height: 20mm;
			// background-color: #029e9d;
			width: 100%;
		}
		> .pdfBody {
			height: 252mm;
			width: 100%;
			// background-color: rgb(214, 227, 214);
			> h2 {
				font-family: "poppins", arial;
				font-weight: 400;
				text-align: center;
				font-size: 1rem;
			}
			> .basicDetails {
				margin-top: 1px;
				font-family: "poppins", arial;
				padding-bottom: 5px;
				font-weight: 500;
				@include flex(row, space-between, flex-start, 0);
				> div {
					@include flex(column, flex-start, flex-start, 0);
					> p {
						font-size: 0.6rem;
					}
				}
			}
		}
	}
}

.inviceContainer {
	width: 100%;
	margin: 0;
	padding: 0;
	// padding-top: 0.4rem;

	border: 1.4px solid #828181;
	> .invoiceHeaders {
		@include grid(3fr 2fr, 0);
		border-bottom: 1.4px solid #828181;
		width: 100%;
		> div {
			font-family: "poppins", Arial, Helvetica, sans-serif;
			> h3 {
				font-size: 0.8rem;
				padding: 0.5rem;
				font-weight: 500;
				border-right: 1.5px solid #828181;
				border-bottom: 1.5px solid #828181;
			}
			> h4 {
				font-size: 0.9rem;
				font-weight: 500;
				border-right: 1.5px solid #828181;
				padding: 0.3rem;
			}
			&:nth-child(2) {
				@include flex(column, center, center, 0.4rem);
			}
			> p {
				text-align: center;
				width: 75%;
				font-size: 0.79rem;
				font-weight: 500;
			}
		}
	}
	> .invoiceBody {
		// margin-top: 0.1rem;
		border-bottom: 1.4px solid #828181;
		width: 100%;
		// border: 1.4px solid #828181;
		> div {
			border-bottom: 1.4px solid #828181;
			&:last-child {
				border: none;
			}
			width: 100%;
			@include grid(3fr 2fr, 0);
			> div {
				&:nth-child(1) {
					@include grid(1fr 10fr, 0);
					align-content: start;
					border-right: 1.4px solid #828181;
					> p {
						// place-self: center;
						width: 100%;
						border-right: 1.4px solid #828181;
						text-align: center;
					}
					> article {
						padding-left: 0.5rem;
						padding-top: 0.2rem;
						padding-bottom: 0.2rem;
						padding-right: 0.2rem;
						font-size: 0.7rem;
						font-family: "poppins", arial;
					}
				}
				&:nth-child(2) {
					@include grid(2fr 2fr 2fr 3fr, 0);
					place-items: center;
					> p {
						width: 100%;
						text-align: center;
						font-size: 0.7rem;
						font-family: "poppins", arial;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						white-space: pre-wrap; /* Ensures that the content breaks into lines */
						word-break: break-word;
						padding-left: 0.1rem;
						padding-right: 0.1rem;
						&:first-child {
							border-right: 1.4px solid #828181;
						}
						&:last-child {
							border-left: 1.4px solid #828181;
						}
						&:nth-child(3) {
							border-left: 1.4px solid #828181;
						}
					}
				}
			}
		}
	}
	> .invoiceFooter {
		> div {
			@include grid(7fr 2fr, 0);
			border-bottom: 1.4px solid #828181;
			> p {
				&:first-child {
					border-right: 1.4px solid #828181;
				}
				font-size: 0.7rem;
				font-weight: 600;
				padding: 0.2rem;
				&:first-child {
					text-align: end;
				}
				&:last-child {
					text-align: center;
				}
				font-family: "poppins", arial;
			}
			&:last-child {
				border: none;
			}
		}
	}
}
