.pdfContainer {
	overflow-y: auto;
}

.pdfContainer::-webkit-scrollbar {
	display: none;
}

.downloadbtn {
	padding: 0.8rem 2rem;
	display: block;
	margin: 1rem;
	margin-left: auto;
	background-color: #d70372;
	border-radius: 5px;
	color: #f0f0f0;
	font-size: 1.2rem;
}

.downloadbtn:hover {
	background-color: #029e9eb8;
}

.downloadbtn svg {
	font-size: 2rem;
	color: #fcfcfc;
	font-weight: 900;
}

.pdf {
	background-color: white;
	position: relative;
	margin: 10px auto; /* Add margin for space at the top and bottom of each page */
	width: 210mm; /* A4 width */
	min-height: 297mm; /* A4 height */
	padding: 5mm 10mm;
	overflow: hidden;
}

.header {
	height: 35mm;
	width: 100%;
}

.footer {
	height: 30mm;
	width: 100%;
}

.pdfBody {
	width: 100%;
	page-break-inside: avoid; /* Avoid breaking within the .pdfBody */
}

.pdfBody h2 {
	font-family: "poppins", arial;
	font-weight: 400;
	text-align: center;
	font-size: 1rem;
}

.basicDetails {
	margin-top: 1px;
	font-family: "poppins", arial;
	padding-bottom: 5px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.basicDetails div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.basicDetails p {
	font-size: 0.6rem;
}

.inviceContainer {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1.4px solid #828181;
}

.invoiceHeaders {
	display: grid;
	grid-template-columns: 3fr 2fr;
	border-bottom: 1.4px solid #828181;
	width: 100%;
}

.invoiceHeaders div {
	font-family: "poppins", Arial, Helvetica, sans-serif;
}

.invoiceHeaders h3,
.invoiceHeaders h5,
.invoiceHeaders h4 {
	font-size: 0.7rem;
	padding: 0.5rem;
	font-weight: 500;
	border-right: 1.5px solid #828181;
	border-bottom: 1.5px solid #828181;
}

.invoiceHeaders h5 {
	font-weight: 600;
	padding-left: 0.3rem;
	padding-top: 0.2rem;
}

.invoiceHeaders h4 {
	padding: 0.3rem;
	padding-top: 0.1rem;
	text-wrap: balance;
}

.invoiceHeaders {
	> div {
		&:nth-child(2) {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0.4rem;
		}
	}
}

.invoiceHeaders p {
	text-align: center;
	width: 75%;
	font-size: 0.79rem;
	font-weight: 500;
}

.invoiceBody {
	border-bottom: 1.4px solid #828181;
	width: 100%;
}

.invoiceBody > div {
	border-bottom: 1.4px solid #828181;
	display: grid;
	grid-template-columns: 3fr 2fr;
	width: 100%;
}

.invoiceBody > div:last-child {
	border: none;
}

.invoiceBody > div > div:nth-child(1) {
	display: grid;
	grid-template-columns: 1fr 10fr;
	align-content: start;
	border-right: 1.4px solid #828181;
}

.invoiceBody > div > div:nth-child(1) p {
	width: 100%;
	border-right: 1.4px solid #828181;
	text-align: center;
}

.invoiceBody > div > div:nth-child(1) article {
	padding-left: 0.5rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-right: 0.2rem;
	font-size: 0.6rem;
	font-family: "poppins", arial;
}

.invoiceBody > div > div:nth-child(2) {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 3fr;
	place-items: center;
}

.ownerBody > div > div:nth-child(2) {
	grid-template-columns: 1fr 1fr 1fr;
}

.invoiceBody > div > div:nth-child(2) p {
	width: 100%;
	text-align: center;
	font-size: 0.7rem;
	font-family: "poppins", arial;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: pre-wrap;
	word-break: break-word;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	width: 100%;
}

.invoiceBody > div > div:nth-child(2) p:first-child {
	border-right: 1.4px solid #828181;
}

.invoiceBody > div > div:nth-child(2) p:last-child {
	border-left: 1.4px solid #828181;
}

.invoiceBody > div > div:nth-child(2) p:nth-child(3) {
	border-left: 1.4px solid #828181;
}

.invoiceFooter {
	> div {
		@include grid(7fr 2fr, 0);
		border-bottom: 1.4px solid #828181;
		> p {
			&:first-child {
				border-right: 1.4px solid #828181;
			}
			font-size: 0.7rem;
			font-weight: 600;
			padding: 0.2rem;
			&:first-child {
				text-align: end;
			}
			&:last-child {
				text-align: center;
			}
			font-family: "poppins", arial;
		}
		&:last-child {
			border: none;
		}
	}
}

.ownerFooter {
	> div {
		@include grid(11fr 4fr, 0);
		border-bottom: 1.4px solid #828181;
		> p {
			&:first-child {
				border-right: 1.4px solid #828181;
			}
			font-size: 0.7rem;
			font-weight: 600;
			padding: 0.2rem;
			&:first-child {
				text-align: end;
			}
			&:last-child {
				text-align: center;
			}
			font-family: "poppins", arial;
		}
		&:last-child {
			border: none;
		}
	}
}

.page-break {
	page-break-before: auto;
	page-break-after: always;
}

.whatsappbtn {
	padding: 0.4rem 2rem;
	margin-top: 1rem;
	background-color: red;
	height: 50px;
	margin-right: 1rem;
	border-radius: 5px;
	background-color: #029e9d;
	> svg {
		font-size: 1.8rem;
		color: #fcfcfc;
	}
}
