.invoice {
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
	&_filter {
		@include flex(row, space-between, center, 0);
		margin: 1rem 2rem;
		> h2 {
			font-size: 2.2rem;
		}
	}
	&_widget_container {
		@include flex(row, center, center, 1rem);
		flex-wrap: wrap;
		margin: 0 2rem;
		margin-bottom: 2rem;
	}

	&_widget {
		user-select: none;
		max-width: 400px;
		position: relative;
		min-width: 250px;
		border-radius: 5px;
		background-color: #fcfcfc;
		box-shadow: 0 0 2px #bdbcbc;
		padding: 1rem;
		width: 32%;
		&_header {
			@include flex(row, space-between, center, 0);
			> span {
				@include flex(row, unset, center, 1rem);
			}
			> svg {
				cursor: pointer;
			}
			> .dropdown-menu {
				position: absolute;
				// pointer-events: none;
				top: 23%; // Position dropdown below the header
				right: 8%;
				background-color: white;
				border: 1px solid #bdbcbc;
				border-radius: 5px;
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
				> div {
					padding: 1rem 2rem;
					box-shadow: 0 0 2px rgba(178, 178, 180, 0.767);
					user-select: none;
					transition: all 0.4s;
					&:hover {
						background-color: #029e9d;
					}
				}
			}
		}
		> h2 {
			text-align: center;
			margin: 1.3rem 0;
			font-size: 2rem;
			color: #029e9d;
		}
		&_trends {
			@include flex(row, center, center, 1rem);
		}
	}
	&_table_container {
		margin: 0 2rem;
		margin-bottom: 2rem;
		.tableHeading {
			> h5 {
				color: #fcfcfc;
				font-size: 1.3rem;
			}
		}
		> .Table {
			border: 1.5px solid #029e9d;
			border-top: 1px solid #bdbcbc;
		}
	}
	&_options {
		@include flex(row, center, center, 1rem);
		> button {
			padding: 0.78rem;
			@include flex(row, center, center, 0.5rem);
			font-weight: 600;
			color: #666;
			font-size: 1.1rem;
			border-radius: 2px;
			background-color: #fff;
		}
	}

	&_functionality {
		@include flex(row, flex-start, baseline, 1rem);
		// background-color: red;
		border-left: 1.5px solid #029e9d;
		border-right: 1.5px solid #029e9d;
		padding: 0;
		flex-wrap: wrap-reverse;
		&_sort {
			@include flex(row, flex-start, baseline, 1rem);
			margin-right: auto;
			> h4 {
				padding: 1.2rem 0.3rem;
				transition: all 0.3s;
				margin-left: 0.2rem;
				cursor: pointer;
				&:hover {
					color: #029e9d;
				}
			}
			> .selected_invoice {
				border-bottom: 2.5px solid #d70372;

				color: #d70372;
				&:hover {
					color: #d70372;
				}
			}
		}
		&_search {
			@include flex(row, flex-end, center, 1rem);
			padding: 0.5rem 1rem;

			align-self: end;
			> button:first-child {
				padding-left: 1rem;
				background-color: #ffff;
				border-radius: 3px;
				@include flex(row, unset, center, 0.3rem);
				border: 1.5px solid #bdbcbc;
				background-color: transparent;
				width: 100%;
				> input {
					border-radius: 3px;
					@include inputStyles;
				}
			}
			> button:last-child {
				padding: 1rem 1.5rem;
				background-color: #ffff;
				border-radius: 3px;
				font-size: 1.1rem;
				font-weight: 600;
				@include flex(row, unset, center, 1rem);
				background-color: #029e9d;
				color: #fcfcfc;
				> svg {
					font-size: 1.2rem;
				}
			}
		}
	}
}

.invoice {
	position: relative;
	> .newInvoiceDialogue {
		overflow-y: auto;
		&::-webkit-scrollbar {
			display: none;
		}
		position: absolute;
		top: 50%;
		left: 50%;
		overflow: hidden;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		// border: 2px solid #029e9d;
		border: none;
		// box-shadow: 0 0 2px #029e9d;
		background-color: #f8fafa;
		border-radius: 5px;

		> div {
			padding-top: 2rem;
			> h2 {
				font-size: 2rem;
			}
			> .createInvoiceTable {
				width: 100%;
				padding: 0 2rem;
				> .tableHeading {
					> button {
						padding-left: 1.2rem;
						@include flex(row, center, center, 0.5rem);
						font-weight: 600;
						color: #666;
						font-size: 1.1rem;
						width: 40%;
						border-radius: 2px;
						background-color: #fff;
						> input {
							@include inputStyles;
						}
					}
				}
			}
			@include flex(column, flex-start, center, 1rem);
			height: 100%;
			width: 100%;
			position: relative;
			> svg {
				position: absolute;
				cursor: pointer;
				top: 3%;
				right: 3%;
				font-size: 2rem;
				color: #d70372;
			}
			> div {
				width: 100%;
				padding: 1rem 2rem;
				> .invoiceFormTable {
					border: 1.5px solid #939393;
					border-radius: 7px;
					> .tableHeading {
						border: none;
						color: #fcfcfc;
					}
					> .tableForm {
						display: grid;
						gap: 1rem;
						place-items: center;
						padding: 1rem 2rem;
						border-bottom: 1px solid #939393;
						grid-template-columns: 1fr 1fr 1fr 2fr 2fr 2fr 1fr;
						> div {
							display: flex;
							align-items: center;
							flex-direction: column;
							justify-content: center;
							// width: 100%;
							gap: 0.4rem;
							> input {
								@include inputStyles;
								border: 1.5px solid #029e9d;
								border-radius: 5px;
								padding: 0.5rem 1rem;
								// min-width: 200px;
								&[type="checkbox"] {
									cursor: pointer;
									padding: 1rem;
									border-radius: 50%;
								}
							}
							> h5 {
								font-size: 0.8rem;
								font-weight: 600;
								font-family: "poppins";
							}
							> p {
								font-size: 0.8rem;
								font-weight: 400;
								font-family: "poppins";
							}
							> button {
								padding: 0.6rem 1rem;
								font-size: 0.8rem;
								color: #fcfcfc;
								background-color: #029e9d;
								border-radius: 4px;
							}
						}
					}
				}
			}
		}
	}
}
