@media screen and (width<= 1200px) {
	.admin-container {
		overflow-y: auto;
	}

	.dashboard {
		.widget-container,
		.graph-container,
		.transaction-container {
			justify-content: center;
			flex-wrap: wrap;
			padding: 2rem;
			.widget {
				margin: 0.2rem 1rem;
			}
		}
		.graph-container {
			padding: 2rem;
			> .revenue-chart,
			.dashboard-categories {
				width: 100%;
			}
			.revenue-chart {
				> h2 {
					font-size: 1.5rem;
				}
			}
		}
	}
}

@media screen and (width<= 1000px) {
	.admin-container {
		grid-template-columns: 1fr !important;
	}
}
@media screen and (width<= 1100px) {
	html {
		font-size: 90%;
	}
}

@media screen and (width<= 850px) {
	html {
		font-size: 90%;
	}
}

@media screen and (width<= 803px) {
	.ownerProfileContainer {
		> .profileDetails {
			width: clamp(200px, 55%, 400px);
		}
		> .registrationDetails {
			width: clamp(200px, 40%, 300px);
			> .body {
				padding: 1rem 1rem;
			}
		}
	}
}

@media screen and (width<= 750px) {
	html {
		font-size: 60%;
	}
}

@media screen and (width<= 572px) {
	.invoice_functionality {
		&_search {
			width: 100%;
			> button:nth-child(2) {
				font-size: 1.1rem;
				padding: 1.1rem 1.3rem;
			}
		}
	}
}

@media screen and (width<= 545px) {
	.ownerProfileContainer {
		> .profileDetails {
			width: clamp(200px, 100%, 600px);
		}
		> .registrationDetails {
			width: clamp(200px, 100%, 600px);
			> .body {
				padding: 1rem 1rem;
			}
		}
	}
}

@media screen and (width<= 500px) {
	html {
		font-size: 80%;
	}
	.signup {
		> .login-main {
			padding: 1rem;
			> section {
				width: clamp(300px, 67%, 800px);
				> form {
					padding: 2rem;
				}
			}
		}
	}
	.dashboard {
		> .heading {
			> h2 {
				font-size: 1.5rem;
			}
			> a {
				> button {
					padding: 0.8rem 1.3rem;
					border-radius: 5px;
					font-size: 1rem;
					background-color: #029e9d;
					color: #fcfcfc;
				}
			}
		}
	}
	.searchCars {
		h2 {
			margin-top: 1rem;
			text-wrap: balance;
			font-size: 1rem;
			> .css-b62m3t-container {
				width: fit-content !important;
			}
		}
	}
	.carDetailCard {
		> header {
			display: flex;
			justify-content: flex-start;
			row-gap: 1rem;
			align-items: center;
			flex-wrap: wrap;
			> div {
				> .address {
					width: 100%;
				}
				> h3 {
					font-size: 1.1rem;
					font-weight: 500;
					> span {
						margin-left: 0.4rem;
						font-size: 1.2rem;
						font-weight: 600;
					}
				}
			}
		}
		> main {
			> .basicDetails {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				> div {
					> h3 {
						font-size: 1.1rem;
						> span {
							font-size: 1.2rem;
						}
					}
				}
			}
			> .advDetails {
				> h4 {
					font-size: 1.5rem;
					font-weight: 600;
				}
				> article {
					display: flex;
					align-items: flex-start;
					flex-direction: column;
					justify-content: flex-start;
					> div {
						> h3 {
							font-size: 1.1rem;
							> span {
								font-size: 1.2rem;
							}
						}
					}
				}
			}
			> .carBill {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-direction: column;
				> h2 {
					font-family: "helvetica rounded", "Gilroy";
				}
				> h3 {
					display: flex;
					align-items: center;
					font-weight: 700;
					font-size: 1.5rem;
					font-family: "helvetica rounded", "Gilroy";
					> span {
						margin-right: 1rem;
						color: #029e9d;
						font-size: 1rem;
					}
				}
			}
		}
	}
	.carDetails {
		> .filter {
			flex-direction: column;
			row-gap: 1rem;
			justify-content: flex-start;
			align-items: flex-start;
			> .filterInp {
				width: 100%;
			}
			> button {
				width: 100%;
			}
		}
		> .invoiceHeader {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			margin: 0rem 2rem;
			padding: 1rem 0;
			> h3,
			> div > h3 {
				font-size: 1rem;
				font-weight: 700;
				font-family: "Gilroy", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
					"Helvetica Neue", sans-serif;
			}
		}
		> button {
			margin: 1rem auto;
			width: 83%;
			border-radius: 3px;
		}
	}
	.formContainer {
		padding: 1rem !important;
		> .documentUploader {
			width: 100%;
			margin: 1rem auto;
			padding: 0 2rem;
			border: none;
			> input {
				&::-webkit-file-upload-button {
					font-size: 1.4rem;
				}
			}
		}

		> .ownerDetails {
			margin: 2rem auto;
			> div {
				padding: 0;
			}
			> .ownerDetailsFormDiv {
				margin-top: 1rem;
				@include flex(row, space-between, flex-start, 1rem);
				> .ownerDataUpload {
					padding: 0;
					> div {
						flex-direction: column;
					}
				}
			}
		}

		.carDetails {
			> .carInputDiv {
				> div {
					@include flex(column, flex-start, center, 1rem);
				}
			}
			> button {
				margin-top: 1rem;
				margin-right: 0;
				width: fit-content;
				padding: 1rem 2rem;
				background-color: #029e9d;
			}
		}
	}
}

@media screen and (width <= 400px) {
	.searchCars {
		h2 {
			@include flex(column, center, end, 1rem);
			text-align: center;
			> .css-b62m3t-container {
				width: 100% !important;
				align-self: flex-end;
			}
		}
	}
}
