.updateOwner {
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
	> .tableContainers {
		margin: 2rem;
		button {
			@include flex(row, start, center, 0.1rem);
			padding-left: 0.7rem;
			border-radius: 5px;
			> svg {
				font-size: 1.2rem;
			}
			> input {
				border-radius: 5px;
				@include inputStyles;
			}
		}
	}
	> form {
		height: 80%;
		@include flex(column, center, center, 2rem);
		> div {
			@include flex(row, center, center, 1.5rem);
			// height: 100%;
			width: 100%;
			> input {
				@include inputStyles;
				width: 20%;
				padding: 0.6rem 1rem;
				border: 1.5px solid #029e9d;
				border-radius: 5px;
				font-size: 1rem;
			}
		}
		> .btnsUpdate {
			@include flex(row, center, center, 1rem);
			> button {
				padding: 1rem 2.2rem;
				background-color: #d70372;
				color: #fcfcfc;
				transition: all 0.4s;
				font-size: 1.2rem;
				border-radius: 5px;
				&:hover {
					background-color: #d70371ab;
				}
			}
		}
	}
}
